<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <title>Jogo Do Milhão - Cadastro</title>
</head>

<body>
    <form class="formLogin" action="/cadastro" method="POST">
        <div class="card">

            <div class="cardTop">
                <img src="../static/Img/logoShowDoMilhao.png" alt="">
                <h2 class="titulo">Cadastre-se</h2>
                <!-- <p>Teste seu raciocínio no quiz</p> -->
            </div>

            <div class="cardGrupoDeCampos">
                <label for="nome">Nome</label>
                <input class="requerido" type="text" name="nome" placeholder="Digite seu nome" required>
                <span class="span-required">Nome deve ter no mínimo 3 caracteres</span>
            </div>

            <div class="cardGrupoDeCampos">
                <label for="email">Email</label>
                <input class="requerido" type="email" id="email" name="email" placeholder="Digite seu email" required>
                <span class="span-required">Digite um email válido</span>
            </div>

            <div class="cardGrupoDeCampos">
                <label for="senha">Senha</label>
                <input class="requerido" type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
                <span class="span-required">Digite uma senha com no mínimo 8 caracteres</span>
            </div>

            <div class="cardGrupoDeCampos">
                <label for="confirmasenha">Confirme a senha</label>
                <input  class="requerido" type="password" id="confirmasenha" name="confirmasenha" placeholder="Digite sua senha" required>
                <span class="span-required">Senhas devem ser compatíveis</span>
                {% if erro %}
                    <p class="error-message">{{ erro }}</p>
                {% endif %}
            </div>

            <div class="cardGrupoDeCampos btn">
                <button id="btn-cadastro" type="submit"><a href="index.html">Cadastrar</a></button>
            </div>

        </div>
    </form>
</body>

</html>