<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <title>Pós Jogo - Show Do Milhão</title>
</head>
<body>
    <div class="containerPosJogo">
       
        <div class="cardPosjogo">
           
            <div class="tituloContainerPosJogo">
                <div class="balaoFinal">
                    <p> Olha, meu amigo, você começou com tudo e agora perdeu o tudo! Não é possível, ou melhor, não é ‘Possilvio’! Mas fique tranquilo, porque aqui sempre tem uma chance para um novo começo.</p>
                </div>
                <img src="../static/Img/Silvio-removebg-preview.png" alt="Silvio Santos">
            </div>
       
            <form action="{{ url_for('menu', email=email) }}" method="POST">
                <div class="escolhaPosJogo">
                    <input class="novoJogo" type="submit" value="Menu">
                    <input class="sairJogo" type="submit" value="Sair">
                </div>
            </form>
        </div>
    </div>
</body>
</html>