<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <title>Pós Jogo - Show Do Milhão</title>
</head>
<body>
    <div class="containerPosJogo">
       
        <div class="cardPosjogo">
           
            <div class="tituloContainerPosJogo">
                <div class="balaoFinal">
                    <p> "Hahaha! Olha só, O nosso participante aqui decidiu desistir! Hahaha! É, meu amigo, não deu, né? Às vezes, a gente acha que é fácil, mas na hora H... não consegue, né? Hahaha!</p>
                </div>
                <img src="../static/Img/Silvio-removebg-preview.png" alt="Silvio Santos">
            </div>
       
            <div class="escolhaPosJogo">
                <input class="novoJogo" type="submit" value="Menu">
                <input  class="sairJogo" type="submit" value="Sair">
             </div>
        
        </div>
    </div>
</body>
</html>