<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <title>Jogo Do Milhão - Nova Senha</title>
</head>

<body>
    <form class="formLogin" action="/esqueceusenha" method="POST">
        <div class="card">

            <div class="cardTop">
                <img src="../static/Img/logoShowDoMilhao.png" alt="">
                <h2 class="titulo">Nova Senha</h2>
            </div>

            <div class="cardGrupoDeCampos">
                <label for="email">Email</label>
                <input class="requerido" type="email" id="email" name="email" placeholder="Digite o email cadastrado " required>
                <span class="span-required">Digite o email cadastrado</span>
            </div>

            <div class="cardGrupoDeCampos">
                <label for="senha">Senha</label>
                <input class="requerido" type="password" id="senhaNova" name="senhaNova" placeholder="Digite a nova senha" required>
                <span class="span-required">Digite uma senha com no mínimo 8 caracteres</span>
            </div>

            <div class="cardGrupoDeCampos">
                <label for="confirmasenha">Confirme a senha</label>
                <input  class="requerido" type="password" id="confirmaNovaSenha" name="confirmaNovaSenha" placeholder="Confirme a nova senha" required>
                <span class="span-required">Senhas devem ser compatíveis</span>
            </div>

            <div class="cardGrupoDeCampos btn">
                <button id="btn-cadastro" type="submit"><a href="index.html">Cadastrar</a></button>
            </div>

        </div>
    </form>
</body>

</html>