<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <title>Jogo Do Milhão - Inicio</title>
</head>

<body>
    <form class="formLogin" method="POST" action="/">
        <div class="card">
            <div class="cardTop">
                    <div class="logoMilhao"><img src="../static/Img/logoShowDoMilhao.png" alt=""></div>
                <h2 class="titulo">Bem vindo</h2>
                <p>Ao quiz mais famoso do Brasil !</p>
            </div>

            <div class="cardGrupoDeCampos">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email" required>
            </div>

            <div class="cardGrupoDeCampos">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            </div>

            <div class="cardGrupoDeCampos">
                <a id="lembrar" href="/esqueceusenha">Esqueci a senha</a>

            </div>
            
                <div class="cardGrupoDeCampos btn">
                    <button type="submit">Login</button>
                </div>
            
            <div class="cardGrupoDeCampos btn">
                <p id="cadastro"><a href="/cadastro">Cadastre-se</a></p>
            </div>
            
        </div>
    </form>
    <script src="../static/JavaScript/script.js"></script>
</body>

</html>