<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/style.css">
    <title>Menu - Show Do Milhão</title>
</head>
<body>
    <div id="containerMenu">

        <div class="card">

            <div class="cardTop">
                <div class="logoMilhao"><img src="../static/Img/logoShowDoMilhao.png" alt=""></div>
                <h2 class="titulo">Faça sua Escolha</h2>
            </div>

            <div class="cardEscolha">
                <div id="escolhas"><a href="{{ url_for('iniciar_partida', email=email) }}"><button class="Verde">Jogar</button></a><a href="{{ url_for('estatisticas', email=email) }}"><button class="Amarelo">Estatísticas</button></a> <a href="/"><button class="Vermelho">Sair</button></a></div>
            </div>

        </div>
    </div>
</body>
</html>